{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{%static 'authenticate/home.css' %}"> -->

    <title>View Bookings</title>
</head>

<style>
    table{
        border-collapse: collapse;
        width: 100%;
    }

    th, td{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: coral;
    }

   label{
    font-size: 18px;
   }

   #logout{
    font-size: 18px;
    padding: 5px;
    margin: 15px;
   }
</style>


<body>
    <h1 style="text-align: center;">View Bookings</h1>

    <form method="GET">
        <label for="no">Enter Number : </label>
        <input type="text" name="no" required> <br>

        <label for="time">Enter Time : </label>
        <input type="time" name="time" required> <br>

        <input type="submit" value="Search">
    </form>

    <table>
        <thead>
            <td>Flight No</td>
            <td>Flight Time</td>
            <td>Flight Date</td>
            <td>User Id</td>
        </thead>

        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <h5>{{ book.flight_no }}</h5>
                    </td>
                    <td>
                        <h5>{{ book.flight_time }}</h5>
                    </td>
                    <td>
                        <h5>{{ book.flight_date }}</h5>
                    </td>
                    
                    <td>
                        <h5>{{ book.user_id }}</h5>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>