{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'authenticate/style.css' %}">
    <title>Login Admin</title>
</head>
<body>
    
    <div id="login-form-wrap">
        <h2>Admin Login</h2>

        <form method="post">
            {% csrf_token %}
    
            <label for="email">Enter Email : </label>
            <input type="email" name="email" placeholder="Enter email id" required> <br>
    
            <label for="password">Enter Password : </label>
            <input type="password" name="password" placeholder="Enter Password" required> <br>
            
            <input type="submit" name="submit" value="Login">
        </form>

        <div class="create-account-wrap">
            <p>Are you an User?</p>
            <a href="../">User Login</a>
        </div>
    </div>
    
</body>
</html>